  
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../src/assets/fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../src/assets/fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../src/assets/fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../src/assets/fonts/Quicksand-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button,
textarea {
  font-family:"Quicksand-Light";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
